BotDiscordCode/.idea/
bin/
obj/
BotDiscordCode/.idea/.idea.BotDiscordCode/.idea/projectSettingsUpdater.xml
BotDiscordCode/.idea/.idea.BotDiscordCode/.idea/workspace.xml
BotDiscordCode/BotDiscordCode.csproj
BotDiscordCode/obj/BotDiscordCode.csproj.nuget.dgspec.json
BotDiscordCode/obj/BotDiscordCode.csproj.nuget.g.props
BotDiscordCode/obj/BotDiscordCode.csproj.nuget.g.targets
BotDiscordCode/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.AssemblyInfo.cs
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.AssemblyInfoInputs.cache
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.assets.cache
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.csproj.AssemblyReference.cache
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.GeneratedMSBuildEditorConfig.editorconfig
BotDiscordCode/obj/Debug/net7.0/BotDiscordCode.GlobalUsings.g.cs
BotDiscordCode/obj/project.assets.json
BotDiscordCode/obj/project.nuget.cache
BotDiscordCode/obj/project.packagespec.json
BotDiscordCode/obj/rider.project.model.nuget.info
BotDiscordCode/obj/rider.project.restore.info
